/* global statr */
html,body{
    height: 100%;
    touch-action: none;
}
body{
    margin-top: 80px;
}
/* global end */

/* banner start */
.banner{
    background-image: url('../img/banner.jpg');
    background-size: cover;
    height: 80px;
    line-height: 80px;
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
}

.banner img{
    animation: App-logo-spin infinite 10s linear;
    height: 50px;
    padding: 15px;
    float: left;
}

.banner span{
    float: right;
    height: inherit;
    line-height: inherit;
    padding-right: 20px;
    font-size: x-large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* banner end */

/* some start */
.weui-tab{
    position: unset!important;
}
.weui-tabbar{
    position: fixed!important;
}
/* some end */

/* mine start */
.cell-body{
    padding: 5px 10px;
    width: -webkit-fill-available;
}
/* mine end */